<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<div>
    <h1>Nokia Ringtone Composer</h1>
</div>

<h5>
    Insert your tones in the field below, click submit, wait a few seconds, and then press play!
</h5>

</br>
</br>
<form method="post" action="/file/produce" target="dummyframe" onsubmit="updateFile()">
    <div>
        <textarea class="score float-right-lg"
                  name="score"
                  spellcheck="false">
        8e2 8#d2 8e2 8#d2 8e2 8b1 8d2 8c2 4a1 8- 8c1 8e1 8a1 4b1 8- 8e1 8#g1 8b1 4c2 8- 8e1 8e2 8#d2 8e2 8#d2 8e2 8b1 8d2 8c2 4a1 8- 8c1 8e1 8a1 4b1 8- 8e1 8c2 8b1 4a1
        </textarea>
    </div>
    <div>
        <input type="submit" value="Submit"/>
        <p>Creating the file takes about a second, there's a built-in 2 second delay before it updates the player with the new sound. If it doesn't show up in a proper time-frame, the button below will try to immediately update the sound file.</p>
    </div>
</form>

</br>
<button onClick="updateFileButton()">Update Sound</button>
<div>
    <audio controls id="waveFile">
        <source src="sound.wav"
                type="audio/wav" />
        Your browser does not support the audio element.
    </audio>
</div>


<script>
    function updateFile() {
        setTimeout(function () {
            document.getElementById("waveFile").load();
        }, 3000);
    }

    function updateFileButton() {
        document.getElementById("waveFile").load();
    }
</script>