<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<div>
    <h1>About this project</h1>
</div>

<p>This project was made for the Applied Functional Programming course.  </p>
<p>It implements the core concepts of the ASP.NET framework, with a library and controllers written in F#. 
    There is also a test project in the solution, showcasing some tests for a project like this. </p>
<p>Below is a list of sources that has helped us build this project:</p>
<ul>
    <a href="https://github.com/liammclennan/RingtoneComposer-FSharp">
    <li>Nokia ringtone composer</li></a>
    <a href="https://www.withouttheloop.com/articles/2014-10-29-fsharp-signal-generator/">
    <li>Implementing an F# Signal Generator</li></a>
    <a href="https://docs.microsoft.com/en-us/visualstudio/get-started/tutorial-fsharp-web-app?view=vs-2022">
    <li>F# in ASP.NET</li></a>
</ul>

<p>Ideas for further development: </p>
<p> An improvement that could be made, is to improve the loading of the sound-files. 
    In the current implementation updateFile() is calld after 3 seconds, because the loading is around that time.</p>

<p>This project was made by Marius Hambro Bovbjerg, Jakob Heldgaard Kristensen, and Emil Engstrøm.</p>
