body {
    padding-top: 0px;
    padding-bottom: 20px;
}

.score {
    top: 31px;
    height: 183px;
    background: transparent;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
}

textarea {
    width:300px;
    height:200px;
    padding-top: 10px;
    padding-bottom: 25px;
    display: block;
    border: 0;
    resize:both;
    background: transparent /* the important bit */
}

    textarea:focus, input:focus {
        outline: 0;
    }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}